BOSS2JEFE-Asset/BOSS.sharedmodule/Schemas/QL_Sub_Id_Map.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:QL_Sub_Id_Map="http://www.example.com/namespaces/tns/1546540242181" xmlns:tibex="http://www.tibco.com/bpel/2007/extensions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.example.com/namespaces/tns/1546540242181">
  <xsd:element name="QL_Sub_Id_Map">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="Id" type="xsd:string"/>
                <xsd:element name="JEFE_ID__c" type="xsd:string"/>
            </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
